{
    "workbench.startupEditor": "newUntitledFile",
    "editor.suggestSelection": "first",
    "vsintellicode.modify.editor.suggestSelection": "automaticallyOverrodeDefaultValue",
    "python.languageServer": "Pylance",
    "python.linting.pylintEnabled": false,
    "python.linting.flake8Args": [
        "--max-line-length=120"
    ],
    "python.testing.unittestArgs": [
        "-v",
        "-s",
        ".",
        "-p",
        "*_test.py"
    ],
    "python.testing.pytestEnabled": false,
    "python.testing.nosetestsEnabled": false,
    "python.testing.unittestEnabled": true,
    "python.formatting.provider": "black",
    "python.formatting.blackArgs": [
        "--skip-string-normalization",
        "--line-length=120"
    ],
    "[python]": {
        "editor.codeActionsOnSave": {
            "source.organizeImports": true
        }
    },
    "python.sortImports.args": [
        "--trailing-comma",
        "--force-grid-wrap",
        "0",
        "--use-parentheses",
        "--line-width",
        "120",
        "--multi-line",
        "3",
        "--float-to-top"
    ],
    "python.globalModuleInstallation": true,
    "files.exclude": {
        "**/.git": true,
        "**/.svn": true,
        "**/.hg": true,
        "**/CVS": true,
        "**/.DS_Store": true,
        "**/*.pyc": {
            "when": "$(basename).py"
        },
        "**/__pycache__": true,
        "**/.vscode": true
    },
    "explorer.confirmDragAndDrop": false,
    "terminal.integrated.rendererType": "dom",
    "explorer.confirmDelete": false,
    "window.titleBarStyle": "custom",
    "telemetry.enableCrashReporter": false,
    "telemetry.enableTelemetry": false,
    "editor.formatOnSave": true,
    "extensions.ignoreRecommendations": true,
    "editor.minimap.enabled": false,
    "python.showStartPage": false,
    "git.ignoreMissingGitWarning": true,
    "workbench.editorAssociations": [
        {
            "viewType": "jupyter.notebook.ipynb",
            "filenamePattern": "*.ipynb"
        }
    ]
}